# Исследование надежности заемщиков

# Описание задачи
Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

 с кодом.

# План работы
  1. Обзор данных

  2. Предобработка данных

  3. Исследовательский анализ

# Описание данных
* `children`— количество детей в семье

* `days_employed`— общий трудовой стаж в днях

* `dob_years`— возраст клиента в годах

* `education`— уровень образования клиента

* `education_id` — идентификатор уровня образования

* `family_status` — семейное положение

* `family_status_id` — идентификатор семейного положения

* `gender` — пол клиента

* `income_type` — тип занятости

* `debt` — имел ли задолженность по возврату кредитов

* `total_income` — ежемесячный доход

* `purpose`— цель получения кредита

# 1 Обзор данных

Импортируем библиотеку pandas и  считайтем данные

In [1]:
import pandas as pd

In [2]:
try:
    data = pd.read_csv('/content/data .csv')
except:
    data = pd.read_csv('https://code.s3./datasets/data.csv')

Выведем первые 20 строчек датафрейма

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

 Выведем основную информацию о датафрейме

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

#2 Предобработка данных

### Удаление пропусков

Выведем количество пропущенных значений для каждого столбца.

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце  обработаем на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно будет медианным значением по каждому типу из столбца `income_type`.

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

В данных могут встречаться аномалии — значения, которые не отражают действительность и появились по какой-то ошибке. Такой аномалией будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработаем значения в этом столбце: заменим все отрицательные значения положительными с помощью метода `abs()`.

In [7]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости введём медианное значение трудового стажа `days_employed` в днях.

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Тем более этот столбец не понадобится  для дальнейшего исследования.

Выведем перечень уникальных значений столбца `children`.

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма.

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

убедимся, что артефакты удалены.

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

Заполним пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Убедимся, что все пропуски заполнены.

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.

In [14]:
data['total_income'] = data['total_income'].astype(int)

<ipython-input-14-990472087ee4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведём их к нижнему регистру.

In [15]:
data['education'] = data['education'].str.lower()

<ipython-input-15-d4b849f854d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['education'] = data['education'].str.lower()

Выведем на экран количество строк-дубликатов в данных.

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

<ipython-input-19-0bc713f3049f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Напишем функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

<ipython-input-22-ecf9d79505dd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['purpose_category'] = data['purpose'].apply(categorize_purpose)

# 3 Исследовательский анализ

#### 3.1 Проверим есть ли зависимость между количеством детей и возвратом кредита в срок.

In [23]:
t = data.groupby('children')['debt'].agg(['count','mean']) # группировка между количеством детей и возвратом кредита в срок
t['count'].sum() # проверка не проявились ли пропуски
len(data) # проверка не проявились ли пропуски
t

          count      mean
children
0         14091  0.075438
1          4808  0.092346
2          2052  0.094542
3           330  0.081818
4            41  0.097561
5             9  0.000000

Зависимость между количеством детей и возвратом кредита в срок есть. Лучше всего возвращают кредит семьи без детей, хуже семьи с одним ребенком.

#### 3.2 Выясним есть ли зависимость между семейным положением и возвратом кредита в срок.

In [24]:
t = data.groupby('family_status')['debt'].agg(['count','mean'])
t.sort_values('count',ascending=False)

                       count      mean
family_status
женат / замужем        12261  0.075606
гражданский брак        4134  0.093130
Не женат / не замужем   2796  0.097639
в разводе               1189  0.070648
вдовец / вдова           951  0.066246

Зависимость между семейным положением и возвратом кредита в срок есть. Лучше всего возвращают кредит вдовцы и вдовы хуже всего не замужние или в гражданском браке. Клиенты, побывавшие в браке, реже допускают просрочки по кредитам.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:
t = data.groupby('total_income_category')['debt'].agg(['count','mean'])
t.sort_values('mean',ascending=False)

                       count      mean
total_income_category
E                         22  0.090909
C                      15921  0.084982
A                         25  0.080000
B                       5014  0.070602
D                        349  0.060172

Выбрав две репрезентативные группы можно выявить что зависимость между уровнем дохода и возвратом кредита в срок есть она линейная. Хуже всего отдают люди в категории "С" с  доходом 50000–200000 тыс руб. Лучше отдают кредит люди в категории "В" с доходом 200000-1000000 тыс руб. Остальные группы крайне малы по отношению к общему колличеству кредитов и для анализа они не пригодны.

#### 3.4 Посмотрим как разные цели кредита влияют на его возврат в срок.

In [26]:
def group(x): # создаём функцию для перегруппировки
    if x in ['автомобили','на покупку своего автомобиля','автомобиль','на покупку автомобиля','на покупку подержанного автомобиля','приобретение автомобиля','свой автомобиль','сделка с автомобилем','сделка с подержанным автомобилем']:
        return 'avto'
    if x in ['высшее образование','дополнительное образование','заняться высшим образованием','заняться образованием','образование','получение высшего образования','получение дополнительного образования','получение образования','профильное образование',]:
        return 'education'
    if x in['жилье','недвижимость','операции с жильем','операции с коммерческой недвижимостью','операции с недвижимостью','операции со своей недвижимостью','покупка жилой недвижимости','покупка жилья','покупка жилья для сдачи','покупка жилья для семьи','покупка коммерческой недвижимости','покупка недвижимости','покупка своего жилья','ремонт жилью','строительство жилой недвижимости','строительство недвижимости','строительство собственной недвижимости']:
        return 'real_estate'
    if x in['на проведение свадьбы','свадьба','сыграть свадьбу']:
        return 'wedding'
    return x

data['new_purpose'] = data['purpose'].apply(group) # применим функцию к столбцу purpose
data.groupby('new_purpose',dropna=False)['debt'].agg(['count','mean']) # строим новый сводник

<ipython-input-26-76964c3caa24>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['new_purpose'] = data['purpose'].apply(group) # применяю функцию к столбцу purpose

             count      mean
new_purpose
avto          4279  0.093480
education     3988  0.092528
real_estate  10751  0.072551
wedding       2313  0.079118

Сгрупировав все кредиты в 4 группы можно сказать что лучше всего отдают ипотечные кредиты(real_estate) а хуже всего выплачивают кредиты за машину. Учитывая большое колличество ипотечных кредитов они самые выгодные для банка.

# Общий вывод

Зависимость между количеством детей и возвратом кредита в срок есть. Лучше всего возвращают кредит семьи без детей, хуже семьи с одним ребенком. Лучше возвращают кредит вдовцы и вдовы хуже всего не замужние или в гражданском браке. Клиенты, побывавшие в браке, реже допускают просрочки по кредитам.
Хуже всего отдают люди в категории "С" с  доходом 50000–200000 тыс руб. Лучше отдают кредит люди в категории "В" с доходом 200000-1000000 тыс руб. остальные группы по доходам крайне малы по отношению к общему колличеству кредитов и для анализа они не пригодны.
Лучше отдают ипотечные кредиты(real_estate) а хуже всего выплачивают кредиты за машину. Учитывая большое колличество ипотечных кредитов они самые выгодные для банка.